* {
    font-family: "Inter";
    font-size: 13px;
    font-weight: 500;

    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: #1a1b26;
    color: #c0caf5;

    border-bottom: 1px solid #24283b;
}


#workspaces button {
    padding: 0 3px;
    color: #565f89;
    background: transparent;

    transition: none;
}

#workspaces button:hover {
    background: #24283b;
    color: #c0caf5;
    box-shadow: none;
}

#workspaces button.focused {
    background: #292e42;
    color: #7aa2f7;
}

#workspaces button.urgent {
    color: #f7768e;
}

#clock,
#custom-weather,
#language {
    min-height: 28px;
    padding: 0 12px;
    margin: 4px 6px;
    font-weight: 600;
}

#clock {
    color: #7dcfff;
}

#custom-weather {
    color: #7dcfff;
}

#language {
    color: #c0caf5;
    font-weight: 700;
}
